@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}
.App{
  min-height:97vh;
  border:7px solid #808080;
  margin:4px;
  padding:4px;
}